body{
  padding: 40px;
}

h1{
  font-weight: 900;
  text-align: center;
  margin: 10px;
  margin-bottom: 20px;
  padding: 50px;
}

input{
  width: 50%;
}

.todo-container{
  background-color: lightgrey;
  padding-bottom: 25%;
}

button{
  width: 100px;
  height: 50px;
  padding: 0px;
}